In [ ]:
print("hello world")

hello world

In [2]:
a=10
b=20
print("Addition=",a+b)

Addition= 30

In [3]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [4]:
for i in range(1,21):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [5]:
dict={
    "eid":[101,102,103,104,105],
    "ename":['shalvi','ajay','om','soham','sakshi'],
    "emarks":[80,90,60,79,88]
}

In [6]:
dict

{'eid': [101, 102, 103, 104, 105],
 'ename': ['shalvi', 'ajay', 'om', 'soham', 'sakshi'],
 'emarks': [80, 90, 60, 79, 88]}

In [7]:
a=[1,2,3,4,5,6,7,8]

In [8]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
len(a)

8

In [10]:
import pandas as pd

In [11]:
dict={
    "eid":[101,102,103,104,105],
    "ename":['shalvi','ajay','om','soham','sakshi'],
    "emarks":[80,90,60,79,88]
}

In [13]:
df=pd.DataFrame(dict)

In [14]:
df

   eid   ename  emarks
0  101  shalvi      80
1  102    ajay      90
2  103      om      60
3  104   soham      79
4  105  sakshi      88

In [17]:
dict

{'eid': [101, 102, 103, 104, 105],
 'ename': ['shalvi', 'ajay', 'om', 'soham', 'sakshi'],
 'emarks': [80, 90, 60, 79, 88]}

In [1]:
a=10
b=20
print("Addition=",a+b)

Addition= 30

In [1]:
print("ETLHIVE")

ETLHIVE