# cal interest
# interest=(p*r*t)/100

In [1]:
def cal_interest(p,r,t):
    interest=(p*r*t)/100
    print("Interest=",interest)

In [2]:
cal_interest(1000000,5,5)

Interest= 250000.0

In [3]:
cal_interest(50000,2,1)

Interest= 1000.0

In [4]:
def print_table(n):
    for i in range(1,11):
         print(n*i)

In [5]:
print_table(5)

5
10
15
20
25
30
35
40
45
50

In [6]:
# args= this will act like a tuple inside a function
# used for accpecting multiple parameter in one argument

In [7]:
def information(*args):
    print(f"values:{args}")
    print(f"type:{type(args)}")
    for i in args:
        print(i)

In [8]:
information(1,'shalvi','student',2345)

values:(1, 'shalvi', 'student', 2345)
type:<class 'tuple'>
1
shalvi
student
2345

In [9]:
# return multiplication of a number
# 2,3,4=24

In [ ]:
def return_multiplication(*args):
    m=1
    for i in args:
        m=m*i
    return m

In [11]:
return_multiplication(4,5)

20

In [12]:
return_multiplication(3,6,4,6,2)

864

In [13]:
lst=[2,4,5,6,7,8,9]

In [15]:
return_multiplication(*lst)    # * for unpacking a tuple

120960

In [27]:
cart=[
    ('labtop',40000,1),
    ('keyboard',6000,2),
    ('mouse',2000,5),
    ('mouse pad',100,10)
]

In [28]:
def print_infi(*args):
    total_price=0
    for name,price,qty in args:
        print(f"name:{name},price:{price},qty:{qty}")
        print("-------------------------------------------------")
        total_price=total_price+price
    return f"total price={total_price}"

In [29]:
print_infi(*cart)

name:labtop,price:40000,qty:1
-------------------------------------------------
name:keyboard,price:6000,qty:2
-------------------------------------------------
name:mouse,price:2000,qty:5
-------------------------------------------------
name:mouse pad,price:100,qty:10
-------------------------------------------------

'total price=48100'

In [30]:
cart=[
    ('smith',21,23000),
    ('gaytri',24,45000),
    ('om',22,20000)
]

In [33]:
def print_info(*args):
    total_salary=0
    for name,age,salary in args:
        print(f"name:{name},age:{age},salary:{salary}")
        print("-------------------------------------------------")
        total_salary=total_salary+salary
    return f"total salary={total_salary}"

In [34]:
print_infi(*cart)

name:smith,age:21,salary:23000
-------------------------------------------------
name:gaytri,age:24,salary:45000
-------------------------------------------------
name:om,age:22,salary:20000
-------------------------------------------------

'total salary=88000'

In [35]:
# ** kwargs same as dict

In [37]:
def disply(**kwargs):
    print(f"values:{kwargs}")
    for key,value in kwargs.items():
        print(f"key={key}\nvalue={value}")

In [38]:
disply(name="shalvi",job_role="student")

values:{'name': 'shalvi', 'job_role': 'student'}
key=name
value=shalvi
key=job_role
value=student

In [39]:
d={
    'id':'soham',
    'age':22,
    'email':'abc@gmail.com'

}

In [40]:
disply(**d)

values:{'id': 'soham', 'age': 22, 'email': 'abc@gmail.com'}
key=id
value=soham
key=age
value=22
key=email
value=abc@gmail.com

In [41]:
# lamba function =used for small calculation

In [42]:
add= lambda a,b:a+b

In [43]:
add(2,5)

7

In [44]:
sq= lambda a:a*a

In [45]:
sq(7)

49

In [46]:
cube= lambda a:a*a*a

In [47]:
cube(5)

125